// conan/cmake framework
CMakeUserPresets.json

// Project specific
build/
workspace/
cmake_preset.txt

// vs_code_extension specific
vs_code_extension/bin

// Claude AI tooling

// VSCode IDE
.vscode/

// CLion IDE
.idea/
