// conan/cmake framework
CMakeUserPresets.json

// Zensep Project specific
build/
workspace/
cmake_preset.txt

// Extension sub-project specific
vs_code_extension/bin

// Claude AI tooling

// VSCode IDE
.vscode/

// CLion IDE
.idea/
